In [1]:
#import packages:

import numpy as np
import pandas as pd

In [2]:
# loading data right from the source:

death_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
country_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv')

In [3]:
death_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,7,7,11,14,14,15,15,18,18,21
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,20,20,21,22,22,23,23,23,23,23
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,130,152,173,193,205,235,256,275,293,313
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,17,18,21,22,23,25,26,26,29,29
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [4]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,299,349,367,423,444,484,521,555,607,665
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,333,361,377,383,400,409,416,433,446,467
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1251,1320,1423,1468,1572,1666,1761,1825,1914,1983
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,466,501,525,545,564,583,601,601,638,646
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,10,14,16,17,19,19,19,19,19,19

In [5]:
recovered_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,10,15,18,18,29,32,32,32,32,32
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,99,104,116,131,154,165,182,197,217,232
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,90,90,90,113,237,347,405,460,591,601
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,21,26,31,39,52,58,71,71,128,128
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,4,4,4

In [6]:
country_df.head()

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
0,Australia,2020-04-14 14:41:26,-25.0000,133.0000,6494,61,2186,4247,25.506978,NaN,NaN,0.939329,36,AUS
1,Austria,2020-04-14 14:33:27,47.5162,14.5501,14159,384,7633,6142,157.210428,NaN,NaN,2.712056,40,AUT
2,Canada,2020-04-14 14:41:09,60.0010,-95.0010,25680,780,7758,17142,67.836544,NaN,NaN,3.037383,124,CAN
3,China,2020-04-14 10:39:48,30.5928,114.3055,83306,3345,78195,1766,5.930619,NaN,NaN,4.015317,156,CHN
4,Denmark,2020-04-14 14:33:27,56.0000,10.0000,6691,299,2689,3703,115.517360,NaN,NaN,4.468689,208,DNK

In [7]:
#data cleaning (just renaming)

country_df.columns = map(str.lower, country_df.columns)
recovered_df.columns = map(str.lower, recovered_df.columns)
confirmed_df.columns = map(str.lower, confirmed_df.columns)
death_df.columns = map(str.lower, death_df.columns)

In [8]:
confirmed_df = confirmed_df.rename(columns= {'province/state' : 'state' , 'country/region' : 'country'})
recovered_df = recovered_df.rename(columns= {'province/state' : 'state' , 'country/region' : 'country'})
death_df = death_df.rename(columns= {'province/state' : 'state' , 'country/region' : 'country'})
country_df = country_df.rename(columns= {'country/region' : 'country'})

In [11]:
sorted_country_df = country_df.sort_values('confirmed' , ascending=False).head(5)

In [12]:
sorted_country_df

,country_region,last_update,lat,long_,confirmed,deaths,recovered,active,incident_rate,people_tested,people_hospitalized,mortality_rate,uid,iso3
17,US,2020-04-14 14:33:47,40.000000,-100.00000,583220,23654,44319,515247,177.019631,NaN,NaN,4.055759,840,USA
160,Spain,2020-04-14 14:33:27,40.463667,-3.74922,172541,18056,67504,86981,369.033902,NaN,NaN,10.464759,724,ESP
10,Italy,2020-04-14 14:33:27,41.871900,12.56740,159516,20465,35435,103616,263.829271,NaN,NaN,12.829434,380,ITA
6,France,2020-04-14 14:33:27,46.227600,2.21370,137887,14986,28011,94890,211.244953,NaN,NaN,10.868320,250,FRA
7,Germany,2020-04-14 14:33:27,51.165700,10.45150,130434,3220,68200,59014,155.678991,NaN,NaN,2.468681,276,DEU

In [15]:
def highlight_col(x):
    r = 'background-color: red'
    p = 'background-color: purple'
    g = 'background-color: grey'
    temp_df = pd.DataFrame('', index=x.index , columns=x.columns)
    temp_df.iloc[:,4] = p
    temp_df.iloc[:,5] = r
    temp_df.iloc[:,6] = g
    return temp_df

sorted_country_df.head(5).style.apply(highlight_col, axis=None)